<launch>
  <node name="debug_cop"
       pkg="cognitive_perception" type="cop_srv" args="$(find cop_ros_plugins)/cop_subscribes_TableObjects.xml debug_cop"
        launch-prefix="$(find cognitive_perception)/scripts/exec_in_dir.sh  $(find cop_ros_plugins)/"
        output="screen"
        respawn="false" />
</launch>
